@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy Font/Gilroy-Bold.ttf");
  font-weight: 600;
  font-style: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy Font/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy Font/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: none;
}

body {
  margin: 0;
}

.section1 {
  background: #f2f3f8;
  position: relative;
  z-index: 0;
}

.nav {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
}

.nav > div {
  width: 50%;
  /* display: flex; */
}

.nav-items {
  /* border: 2px solid brown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items > div {
  display: flex;
  flex-direction: row;
  color: #2855ae;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.nav-items > button {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%);
  border-radius: 40px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.145454px;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: transparent;
  outline: none;
}

.textContent {
  /* border: 3px solid pink; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContent > div {
  /* border: 3px solid brown; */
  width: 60%;
  padding: 4rem 0 14rem 0;
}

.textContent h3 {
  font-family: "Gilroy";
  font-size: 54px;
  line-height: 74px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 0px;
}

.textContent p {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #303030;
  text-align: center;
  padding-top: 0px;
}

.video-frame {
  /* border: 3px solid purple; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 5rem 8rem;
  margin-bottom: 60rem;
  box-shadow: 2.30081px 11.5041px 23.0081px 1.15041px rgba(221, 227, 255, 0.45);
  border-radius: 20px;
  position: absolute;
  z-index: 10;
  top: 30rem;
  left: 10rem;
  right: 10rem;
}

.video-frame > img {
  width: 100%;
  height: 100%;
}

/* FOOTER */

hr {
  color: #ffffff;
  width: 100%;
  opacity: 0.1;
}

.footerContainer {
  margin-top: 70rem;
  background: #294b8f;
  padding: 2%;
}

.footerSection1 {
  display: flex;
  padding: 50px;
}

/* borders for text divs in footerSection1 */

.text1 {
  /* border: 3px solid salmon; */
  width: 40%;
}

.text2 {
  /* border: 3px solid slateblue; */
  width: 15%;
}

.text3 {
  /* border: 3px solid saddlebrown; */
  width: 15%;
}

.text4 {
  /* border: 3px solid sandybrown; */
  width: 30%;
}

.footerSection1 p:nth-child(1) {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  /* width: ; */
}

/* text1 styling */

.text1 p:nth-child(2) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #d9dbe1;
  width: 60%;
  /* width: ; */
}

.btn {
  display: flex;
  gap: 16px;
}

.text1 > .btn > button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(62, 93, 154);
  /* padding: 0.5rem 0.5rem; */
  border: transparent;
  outline: none;
}

/* text2 styling */

.text2 p:nth-child(2) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text2 p:nth-child(3) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text2 p:nth-child(4) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

/* text3 styling */

.text3 p:nth-child(2) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text3 p:nth-child(3) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text3 p:nth-child(4) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

/* text 4 styling */

#txt {
  /* width: 80%; */
  color: #d9dbe1;
  background: rgb(85, 111, 165);
  border-radius: 8px;
  border: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 28px 0 16px;
}

.text4 > div {
  position: relative;
  width: 15.9rem;
  height: 2.5rem;
}

.text4 > div > img {
  /* background: rgb(85, 111, 165); */
  border: transparent;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  cursor: pointer;
}

::placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  /* padding: 5px; */
}

/* footerSection 2 styling */

.footerSection2 > p {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
   
}