@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy Font/Gilroy-Bold.ttf");
  font-weight: 600;
  font-style: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy Font/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Assets/Fonts/Gilroy Font/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: none;
}

body {
  margin: 0;
}

.section1 {
  background: #f2f3f8;
  position: relative;
  z-index: 0;
}

.nav {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
}

.nav > div {
  width: 50%;
  /* display: flex; */
}

.nav-items {
  /* border: 2px solid brown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items > div {
  display: flex;
  flex-direction: row;
  color: #2855ae;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.nav-items > div::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7292cf;
  transition: transform 0.3s ease-out;
  transform-origin: bottom right;
}

.nav-items > div:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-items > button {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(313.78deg, #2855ae -3.15%, #7292cf 100%);
  border-radius: 40px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.145454px;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: transparent;
  outline: none;
}

.burgerMenu {
  display: none;
}

.textContent {
  /* border: 3px solid pink; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContent > div {
  /* border: 3px solid brown; */
  width: 60%;
  padding: 4rem 0 14rem 0;
}

.textContent h3 {
  font-family: "Gilroy";
  font-size: 54px;
  line-height: 74px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 0px;
}

.textContent p {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #303030;
  text-align: center;
  padding-top: 0px;
}

.video-frame {
  /* border: 3px solid purple; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 5rem 8rem;
  margin-bottom: 60rem;
  box-shadow: 2.30081px 11.5041px 23.0081px 1.15041px rgba(221, 227, 255, 0.45);
  border-radius: 20px;
  position: absolute;
  z-index: 10;
  top: 30rem;
  left: 10rem;
  right: 10rem;
}

.video-frame > img {
  width: 100%;
  height: 100%;
}

/* FOOTER */

hr {
  color: #ffffff;
  width: 100%;
  opacity: 0.1;
}

.footerContainer {
  margin-top: 70rem;
  background: #294b8f;
  padding: 1rem;
}

.footerSection1 {
  display: flex;
  padding: 50px;
}

/* borders for text divs in footerSection1 */

.text1 {
  /* border: 3px solid salmon; */
  width: 40%;
}

.text2 {
  /* border: 3px solid slateblue; */
  width: 15%;
}

.text3 {
  /* border: 3px solid saddlebrown; */
  width: 15%;
}

.text4 {
  /* border: 3px solid sandybrown; */
  width: 30%;
}

.footerSection1 p:nth-child(1) {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  /* width: ; */
}

/* text1 styling */

.text1 p:nth-child(2) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #d9dbe1;
  width: 60%;
}

.btn {
  display: inline-flex;
  gap: 16px;
}

.text1 > .btn > button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(62, 93, 154);
  padding: 0.5rem 0.5rem;
  border: transparent;
  outline: none;
}

/* text2 styling */

.text2 p:nth-child(2) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text2 p:nth-child(3) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text2 p:nth-child(4) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

/* text3 styling */

.text3 p:nth-child(2) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text3 p:nth-child(3) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

.text3 p:nth-child(4) {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9dbe1;
  /* width: ; */
}

/* text 4 styling */

#txt {
  /* width: 80%; */
  color: #d9dbe1;
  background: rgb(85, 111, 165);
  border-radius: 8px;
  border: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 28px 0 16px;
}

.text4 > div {
  position: relative;
  width: 15.9rem;
  height: 2.5rem;
}

.text4 > div > img {
  /* background: rgb(85, 111, 165); */
  border: transparent;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  cursor: pointer;
}

::placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  padding: 5px;
}

/* footerSection 2 styling */

.footerSection2 > p {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .mainContainer {
    width: 100%;
  }
  .nav {
    padding: 1rem;
  }

  .nav > div {
    width: auto;
  }

  .nav-items {
    display: none;
  }

  .burgerMenu {
    display: block;
    margin-left: auto;
  }

  .textContent {
    width: 100%;
  }

  .textContent > div {
    /* border: 3px solid brown; */
    width: 75%;
    padding: 1rem 0 8rem 0;
  }

  .textContent h3 {
    font-size: 32px;
    line-height: 48px;
  }

  .textContent p {
    font-size: 16px;
    line-height: 32px;
  }

  .video-frame {
    /* border: 3px solid purple; */
    width: 70%;
    padding: 2rem 1.5rem;
    margin-bottom: 13rem;
    box-shadow: 2.30081px 11.5041px 23.0081px 1.15041px
      rgba(221, 227, 255, 0.45);
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    top: 22rem;
    left: 2.5rem;
    right: 2.5rem;
  }

  .footerSection1 {
    flex-direction: column;
    padding: 1.25rem;
  }

  .footerSection1 p:nth-child(1) {
    font-size: 16px;
  }

  .footer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .text1 p:nth-child(2) {
    width: 112%;
  }

  .text1 {
    display: flex;
    justify-content: space-between;
  }

  .text1 > div {
    /* border: 2px solid red; */
  }

  .text1,
  .text2,
  .text3,
  .text4 {
    width: 100%;
  }

  .address-info {
    width: 70%;
  }

  .btn {
    width:40%;
    gap: 7px;
    margin-top: 1rem;
  }

  .btn > button {
    width: 10px;
    height: 10px;
    padding: 0;
  }


  .text4 > div {
    width: 100%;
    text-align: center;
    /* border: 3px solid red; */
  }


}
